In [1]:
import pandas as pd
import numpy as np

# Load processed enrolment data
file_path = r"D:\Academics\Hackathon\UIDAI Data HAckathon-2026\enrolment\enrolement_processed.csv"
df = pd.read_csv(file_path)

df.head()

,date,state,district,pincode,age_0_5_norm,age_5_17_norm,age_18_greater_norm,total_population_norm,child_ratio,adult_ratio,state_enc,district_enc,enrolment_cluster,enrolment_pressure
0,02-03-2025,Meghalaya,East Khasi Hills,793121,4,33,43,80,45,53,22,552,1,MEDIUM
1,09-03-2025,Karnataka,Bengaluru Urban,560043,5,18,45,68,33,65,15,371,1,MEDIUM
2,09-03-2025,Uttar Pradesh,Kanpur Nagar,208001,10,45,14,69,78,20,33,858,1,MEDIUM
3,09-03-2025,Uttar Pradesh,Aligarh,202133,23,16,17,56,68,29,33,811,1,MEDIUM
4,09-03-2025,Karnataka,Bengaluru Urban,560016,5,8,24,37,34,63,15,371,1,MEDIUM

In [2]:
df.info()
df.describe()
df.isna().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1001893 entries, 0 to 1001892
Data columns (total 14 columns):
 #   Column                 Non-Null Count    Dtype
---  ------                 --------------    -----
 0   date                   1001893 non-null  object
 1   state                  1001893 non-null  object
 2   district               1001893 non-null  object
 3   pincode                1001893 non-null  int64
 4   age_0_5_norm           1001893 non-null  int64
 5   age_5_17_norm          1001893 non-null  int64
 6   age_18_greater_norm    1001893 non-null  int64
 7   total_population_norm  1001893 non-null  int64
 8   child_ratio            1001893 non-null  int64
 9   adult_ratio            1001893 non-null  int64
 10  state_enc              1001893 non-null  int64
 11  district_enc           1001893 non-null  int64
 12  enrolment_cluster      1001893 non-null  int64
 13  enrolment_pressure     1001893 non-null  object
dtypes: int64(10), object(4)
memory usage: 107.0+ MB

date                     0
state                    0
district                 0
pincode                  0
age_0_5_norm             0
age_5_17_norm            0
age_18_greater_norm      0
total_population_norm    0
child_ratio              0
adult_ratio              0
state_enc                0
district_enc             0
enrolment_cluster        0
enrolment_pressure       0
dtype: int64

In [5]:
#Key Metrics
# Total population covered (normalized)
total_population = df['total_population_norm'].sum()

# Age-wise enrolment
age_0_5 = df['age_0_5_norm'].sum()
age_5_17 = df['age_5_17_norm'].sum()
age_18_plus = df['age_18_greater_norm'].sum()

# Ratios (average)
avg_child_ratio = df['child_ratio'].mean()
avg_adult_ratio = df['adult_ratio'].mean()

print("Total Population (Normalized):", total_population)
print("Age 0–5 Enrolment:", age_0_5)
print("Age 5–17 Enrolment:", age_5_17)
print("Age 18+ Enrolment:", age_18_plus)
print("Average Child Ratio:", round(avg_child_ratio, 2))
print("Average Adult Ratio:", round(avg_adult_ratio, 2))
df['enrolment_pressure'].value_counts()

Total Population (Normalized): 1830925
Age 0–5 Enrolment: 903007
Age 5–17 Enrolment: 741675
Age 18+ Enrolment: 186243
Average Child Ratio: 26.26
Average Adult Ratio: 1.58

enrolment_pressure
HIGH      579040
MEDIUM    421546
LOW         1307
Name: count, dtype: int64

In [6]:
#Cluster-wise Enrolment
cluster_dist = df.groupby('enrolment_cluster')['total_population_norm'].sum()
cluster_dist

enrolment_cluster
0      54157
1    1310926
2     465842
Name: total_population_norm, dtype: int64

In [ ]:
## Enrolment Cluster Interpretation

- Enrolment clusters group districts with similar enrolment behavior
- Higher cluster values represent regions with higher enrolment coverage
- Cluster with maximum population indicates high enrolment density areas
- Low clusters may require targeted enrolment drives